@font-face{
	font-family:Brandon Grotesque;
	font-weight:300;
	src:url(../fonts/BGTHIN.otf)
}
@font-face{
font-family:Brandon Grotesque
;src:url(../fonts/BGREG.otf)
}
@font-face{
font-family:Brandon Grotesque;
font-weight:700;
src:url(../fonts/BGBOLD.otf)
}
.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6{
font-family:"Brandon Grotesque","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
color:#314451;
}
*{-webkit-backface-visibility:hidden}

.btn-mobile-radius (@radius: 4px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}
.img-radius (@radius: 160px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}

.mobile_top_container{
background: #efeff4;
padding: 10px 0;
img{
	 max-width: 180px;
}
.authrized_top{
img{
	float: left;
    margin: 0 9px 0 0;
    max-width: 29px;
}
}
}
#box1{
	margin:70px 0;
	h2{
		font-size:35px;
		line-height: 46px;
	}
	h3{
		font-size:18px;
		line-height: 25px;
	}
	a{
	 background: #ff6127;
	 padding: 12px 20px;
	 .btn-mobile-radius;
	 color:#fff;
	 font-size:32px;
	 display: block;
	 max-width:340px;
	 text-decoration: none;
	 margin: 45px 0 0 0;
	}
	.right_box_container{
		background: #f7fafc;
	    .btn-mobile-radius;
	    height: 410px;
	}
}
.bg_white{
background: #fff !important;
}
#box2{
	background: #efeff4;
	padding: 40px 0;
	.img_container{
		min-height: 310px;
		max-width: 310px;
		.img-radius;
		padding: 40px 0;
		background: #d7d7e1;
	}
	.mar_0{
		margin: 0;
		}
	h2{
		font-size:26px;
		color:#339cec;
		line-height: 39px;
		margin: 0;
		&:after{
			border-bottom: 2px solid #ff5f24;
		    content: "";
		    left: 17px;
		    position: absolute;
		    top: 88px;
		    width: 100px;
		}
		}
		h3{
		font-size:20px;
		line-height: 31px;
		margin: 30px 0;
	}

}
#box3{
	background: #88c4f3;
		padding: 47px 0;
		h2{
		font-size:40px;
		color:#fff;
		line-height: 45px;
		font-weight: lighter;
		margin: 0 0 90px;
		text-align: center;
		&:after{
		border-bottom: 2px solid #fff;
	    content: "";
	    left: 43%;
	    position: absolute;
	    text-align: center;
	    top: 110px;
	    width: 130px;
		}
		}
		h3{
			font-size:20px;
			line-height: 30px;
			font-weight: normal;
		}
		.profile_container{
		min-height: 164px;
		max-width: 164px;
		.img-radius;
		padding: 40px 0;
		background: #fff;
		margin: 0 auto;
	}
	h4{
	font-size: 13px;
    font-weight: bold;
    line-height: 27px;
	}
}
.btn_act_pos{
background: #ff6127;
padding: 15px 10px;
.btn-mobile-radius;
color:#fff;
font-size:26px;
text-decoration: none;
margin: 45px 0 0 0;
text-align: center;
&:hover{
	text-decoration: none;
	color:#fff;
}
img{
max-height:30px;
}
}
#box4{
padding:52px 0 20px 0;
.ensure_profile{
	margin: 30px 0;
}
h4{
	color:#ff5103;
	font-size: 22px;
	margin: 0 0 27px;
}
h5{
	font-size: 20px;
	line-height: 25px;
}
	h2{
	color:#41a3ec;
	font-size: 45px;
	margin: 0 0 27px;

	&:after{
	border-bottom: 2px solid #ff2a00;
    content: "";
    position: absolute;
	left: 15px;
	bottom: 0;
	width: 130px;
}
}
.profile_photo{
	min-height: 80px;
	max-width: 80px;

	.img-radius;
	background: #d7d7e1;
	}
	.right_quetes_container{
		b{
		color:#333;
		font-size:18px;
		}
		span{
		color:#7e858b;
		font-size:16px;
		display: block;
		line-height: 0;
	}
		background: #f7fafc;
		color:#42a1ed;
		font-size:30px;
		padding: 60px 31px;
		line-height: 46px;
		.btn-mobile-radius;
		.testimonial {
		quotes:"\201C" "\201D";
		color:#42a1ed;
		border-left:0;
		}
		.testimonial:before, .testimonial:after {
		font:bold 120px/1px "brandon-grotesque","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;;
		color:#e1e7eb;
		position:absolute;
		}
		.testimonial:before {
		content:open-quote;
		margin:25px 0 0 -22px;
		}
		.testimonial:after {
		content:close-quote;
		margin:55px 0 0;
		}
	}
}
#box5{
	padding: 55px 0;
	background: #f7fafc;
	h2{
	font-size: 40px;
	margin: 0 0 27px;
   &:after{
		border-bottom: 2px solid #ff6127;
	    content: "";
	    left: 43%;
	    position: absolute;
	    text-align: center;
	    top: 110px;
	    width: 130px;
		}
      }
h3{
	color:#56a0ea;
	font-size: 22px;
	line-height: 30px;
}
h4{
	font-size: 18px;
    line-height: 30px;
}
}
.mt_30{
	margin: 30px 0 0 0;
}
.mt_60{
	margin: 60px 0 0 0;
}
.amr_30{
	margin: 0 0 30px 0;
}

#box6{
	padding: 55px 0;
	background: #fff;
	h2{
	font-size: 40px;
	margin: 0 0 27px;
	&:after{
		border-bottom: 2px solid #ff6127;
	    content: "";
	    left: 43%;
	    position: absolute;
	    text-align: center;
	    top: 110px;
	    width: 130px;
		}
         }
h3{
	color:#56a0ea;
	font-size: 22px;
	line-height: 30px;
}
h4{
	font-size: 18px;
    line-height: 30px;
    
}
}


@media only screen and (max-width : 767px)
{
#box1 a{
  font-size: 27px;
  img{
    max-width: 29px;
  }
}
#box4,#box5{
    h2{
    font-size:22px;
    &:after{
        left: 29%;
    }
    }
}
#box6 h2{
    font-size: 27px;
    &:after{
    left: 34%;
    top: 72px;
    }
}
}