
@bg-color:#419be0;
@color-new-bg:#f7fafc;
@color:#314451;
@white-color:#fff;
@btn-bg-top:#194f78;
@font-size:18px;
@font-23:23px;
@font-weight:normal;
@border-left:1px solid #e5e9ec;
@border-right:1px solid #e5e9ec;
@border-bottom:1px solid #e5e9ec;
@float:left;
@font-500:500;
@txt-color:#adadad;
@date-color:#d4d4e4;
@padding:0;
@margin:0;
@selec-bg-hover:#ff7b5e;
@org-border:1px solid #ff7b5e;
@org-border-2:2px solid #ff7b5e;
@color-orange:#ff7b5e;
@bg-right-box1:#202e38;
@min-box:180px;
@font-14:14px;
@blue-color:#6190e2;

body{
	 color: #314451 !important;
	 font-weight: 500;
	 padding: 0;
	 margin: 0;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif !important;
}
.btn-border-radius (@radius: 3px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}
.blog_header_bg{
background:@bg-color;
padding:22px 0;
border-top:1px solid #3f91d1;
border-bottom:1px solid #3f91d1;

span{
font-size: @font-size;
color: @white-color
}

a{
background:#194f78;
padding: 9px 40px;
text-transform: uppercase;
font-size: @font-size;
font-weight: @font-weight;
color: @white-color;
box-shadow:0 -2px 1px #144062 inset;
.btn-border-radius;

&:hover{
	color: @white-color;
}
}

}
.blog_left_container{
border-left:@border-left;
border-right:@border-right;

}
.blog_comment_container{
border-bottom:@border-bottom;
padding: 30px 15px;

h1{
font-size:21px;
color:@color;
margin:8px 0 0 0;
padding: @padding;
}

}
.blog_profile_container{
margin: 10px 0 0 0;

.blog_social_container{
float:right;
margin: 12px 0 0 0;
}

.profile_txt{
font-size:@font-14;
color:@txt-color;
}
.profile_txt_left{
font-size:11px;
color:@txt-color;
float: left;
margin:0 0 0 13px;
}
img{
	float: left;
}
span{
color:@date-color;
border:none !important;
}
}
.blog_select_tab{
padding: 33px 0 0 0;

h1{
font-size:21px;
color:@color;
margin:8px 0 0 0;
padding: @padding;
}
span{
border-bottom:@org-border;
width:64px;
display: block;
margin:5px 0 15px 0;
}
h2{
font-size:18px;
color:@color;
margin: @margin;
}
ul{
margin: @margin;
padding: @padding;
left: -30px;
right:0;
bottom:0;
position: relative;
}
li{
list-style: none;
}
li a{
font-size:18px;
color:@color;
padding: 8px 40px 8px 30px;
display:block;

&:hover{
background:@selec-bg-hover;	
color:@white-color;
border-radius: 0 18px 18px 0;
text-decoration: none;
}
}
.font_txt{
	font-size: @font-size;
}
.btn_subcribe {
	margin: 30px 0;
}
.btn_subcribe a{
background: @bg-color;
color: @white-color;
padding: 13px 35px;
.btn-border-radius;
text-transform: uppercase;
font-size: 17px;
}
}
.color-new-bg{
background: @color-new-bg;
left: -30px;
position: relative;
padding-left:30px ;
padding-bottom: 2px;
width:307px;
top:20px;
}
.right_fixed_page{
position: fixed;
background: #314451;
height: 1000px;
top: 77px;
right: 0;
width:380px;
color:@white-color;
h1{
color: #fff;
font-size: 21px;
margin: 8px 0 0;
padding: 0;
}
span{
border-bottom:@org-border-2;
width:64px;
display: block;
margin:5px 0 15px 0;
}
.com_box1{
min-height: @min-box;
padding: 30px;
}
.com_box2{
background: @bg-right-box1;
min-height: @min-box;
padding: 30px;
}
.com_box3{
min-height: @min-box;
padding: 30px;
}
.comp_txtbox{
width: 246px;
min-height: 40px;
padding: 3px;
background: #6b7075;
.btn-border-radius;
border:none;
margin: 10px 0 30px 0;
font-size: @font-size;
display: block;
}
a{
padding: 10px 35px;
background: #ff7b5e;
.btn-border-radius;
border:none;
color:@white-color;
margin: 10px 0 0 0;
font-size: @font-size;
}
}
.company_page_t{
position: relative;
.text_blog{
margin: 10px 0;
font-size:@font-14; 

}
.list_company_txt{
margin: 0 0 30px;
}
h2{
font-size:25px;
}
h3{
font-size:@font-size;
text-transform: uppercase;
color:@color-orange;
}
ul{
padding: @padding;
margin: @margin;
border:1px solid #333;
.btn-border-radius;
}
li{
margin:10px 30px;
font-size: @font-14;
}
.helath_txt{
	color:#314451;
	margin:15px 30px;
}
}
#carousel{
background:@white-color;
border-top: 1px solid #b6bfc3;
bottom: 0;
box-shadow: 0 -2px 5px #999;
max-height: 220px;
position: fixed;
left:0;
right:380px;
.slide-txt{
position:absolute;
margin: 20px 40px;
text-align: center;
right:380px;
h1{
color:@color-orange;
}
.text_blog{
font-size:@font-14;
}
}
.slides-pagination{
 top: 196px;
position: absolute;
text-align: center;
width: 100%;
z-index: 3;
}
.slides-pagination a{
border:@org-border-2;
}
.slides-pagination a.current{
background: #ff7b5e;
}
.slide-content {
	position: absolute;
	top: 100px;
	margin-left: 450px;
	padding-right: 70px
}
.slide-content h1 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 30px
}
.slide-content h1 span {
	font-weight: bold;
	color: #ff7b59
}
.slide-content .c {
	background-repeat: no-repeat;
	background-size: 80px 80px;
	padding-left: 100px;
	padding-top: 12px;
	height: 95px;
	font-size: 20px
}
.slide-content .btn-cfox {
	display: inline-block;
	margin-top: 20px;
	font-size: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 65px
}
#slides {
	position: relative
}
#slides .slides-container {
	display: none
}
#slides .scrollable {
*zoom:1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both
}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%
}
.slides-navigation a {
	position: absolute;
	display: block
}
.slides-navigation a.prev {
	left: 0
}
.slides-navigation a.next {
	right: 0
}
.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	text-align: center;
	width: 100%
}
.slides-pagination a {
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
	zoom: 1;
*display:inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 2px;
	overflow: hidden;
	text-indent: -100%
}
}
.margin_b{
margin-bottom:300px;
}
.bred_menu {
margin-top: 30px;
}
.bred_menu ul{
margin:@margin;
padding:@padding;
}
.bred_menu li {
display: inline;
padding: 0 30px;
background: url(../images/arrow.png) no-repeat left 3px;
}
.bred_menu li:first-child {
padding-left: 0;
background: none;
}
.heading_top{
font-weight:300;
font-size:40px;
color:#314451;
margin:20px 0 0 0;
}
.pad_left_30{
	padding: 0 0 0 30px;
}
.border-right-1{
	border-right:@border-right;
}
.insurance_container{
h2{
	font-size:@font-23;
	font-weight:@font-weight;
	text-transform: uppercase;
	color:@blue-color;

}
h3{
color:@color-orange;
margin: 40px 0 0;
text-transform: uppercase;
}
h4{
font-size:@font-23;
margin: 30px 0 10px 0;
}
ul{
margin:@margin;
padding:@padding;
}
li{
margin:0 0 0 19px;
}
}
.top_header_logo{
border-bottom: 1px solid rgba(49, 68, 81, 0.15);
padding: 20px 0;
background: #f7fafc;
position: fixed;
top:0;
left:0;
width:100%;
z-index: 300;

img{
max-width: 180px;
vertical-align: top;
}
span{
	font-size:22px;
	margin: 0 0 0 20px;
	line-height: 34px;
}
ul{
margin:2px 0 0 0;
padding: @padding;
}
li{
display: inline;
margin: 0 10px;
 a{
font-size:22px;
color:@color;
}
}
 li a:hover{
color:@color-orange;
text-decoration: none;
}
}
.pos_rel_top{
position: relative;
left:0;
top:66px;
bottom: 0;
}
.arrow_nw {
position: absolute;
top: 17%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
opacity: 0.7;
cursor: pointer;
z-index: 300;
}
.arrow_nw.next {
right: 20px;
}
.arrow_nw.prev {
left: 20px;
}
.arrow_nw img {
max-height: 50px;
}
/* Star Landing Page css ST */
.star_header_top{
background: #30407c;
padding: 15px 0;
img{
max-width: 157px;
min-height: 67px;
}
h1{
	color:@white-color;;
	margin: @margin;
	font-size:30px;
	margin: @margin;
}
}
.benefit_container_page{
	background: #354789;
	padding: 20px 0;
	h3{
		color:#d6d9e7;
		margin: @margin;
		font-size:18px;
	}
	h2{
		color:#d6d9e7;
		margin:21px 0 0 30px;
		font-size:25px;
	}
	ul{
		margin: @margin;
		padding: @padding;
	}
	li{
		margin: 15px 0;
		list-style: none;
		color:@white-color;
		font-size:24px;
	}
	span{
		color:#d6d9e7;
	}
	
	.compair_container_log{
		background:#fff;
		margin: 5px 0 0 0;
		padding: 10px;
		.btn-border-radius;
	}
	.compair_container_log tr:nth-child(even){
			background: rgba(0, 0, 0, 0.1);
		}
	.compair_container_log td{
		padding: 3px 8px;
		font-size:13px;
	}
	
}
.star_health_product{
margin: 15px 0 0;
ul{
		margin: 30px 0 0 0;
		padding: @padding;
	}
	li{
		margin: 15px 0;
		list-style: none;
		color:#354789;
		font-size:24px;
	}
	h2{
		font-size:28px;
		margin: 0;
		color:#354789;
		position: relative;

	}
	h2:after {
		border-bottom: 2px solid #354789;
	    content: "";
	    left: 0;
	    position: absolute;
	    top: 34px;
	    width: 100px;
		}
h3{
	color:#354789;
	margin: 0 0 5px 15px;
	font-size:20px;
}
.desc_box{
	background: #354789;
	line-height: 1.4em;
    padding: 10px 15px;
	font-size:13px;
	color:@white-color;

	.btn-border-radius;
	h4{
	margin: 0 0 5px;
	font-size:@font-size;
	text-decoration: underline;
	}
}

}
.logo-top-nw{
border-bottom: 1px solid rgba(49, 68, 81, 0.15);
padding: 8px 0;
background: #f7fafc;
img{
	max-width: 145px;
}
}
.margin-bottom-10{
	margin:0 0 10px 0
}
.star_form_container{
	margin: 15px 0 0 30px;
	label{
		color:@white-color;
	}
	.input_container{
		position: relative;
		padding: 0px;
		input {
			padding-left:45px;
		}
		span{
			position: absolute;
			color:#354789;
			top:13px;
			left:7px;
			font-size:18px;

		}
	}
	
		.form_text_box{
		min-width:80%;
		padding: 12px;
		color:#354789;
		display: block;
		margin: 0 0 10px;
		font-size:@font-size;
		border: 1px solid #ccc;
		.btn-border-radius;
		background:#b3bce9;
		&:focus{
			background: #fff;
		}
		}
		a{
			background: #f5a623;
			color:@white-color;
			display: block;
			text-transform: uppercase;
			padding: 13px 67px;
			text-align: center;
			font-size: 20px;
			max-width: 292px;
			.btn-border-radius;
		}
	}
	.tab_bg{
		h4{
			margin: 0;
		}
	}
	.header_txt{
	font-size: 15px;
    letter-spacing: 2px;
    margin: 10px 0 0;
    text-transform: uppercase;
	}
	
	.btn-cfox {
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0, 0, 0, 0)),color-stop(100%,rgba(0, 0, 0, 0.05)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.05));
	background-image: -moz-linear-gradient(transparent,rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(transparent,rgba(0,0,0,0.05));
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.05));
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	&.orange {
	background-color: rgb(247, 127, 84);
	border: 1px solid rgb(174, 121, 38);
	width: 100%;
	font-size: 20px;
	margin-top: 0px;
	padding: 15px;
	color: #fff;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0, 0, 0, 0)),color-stop(100%,rgba(0, 0, 0, 0.1)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(transparent,rgba(0,0,0,0.1));
	background-image: -o-linear-gradient(transparent,rgba(0,0,0,0.1));
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.1));
	}
	}